.Board {
  background-color: #915016;
  background-image: url(http://www.transparenttextures.com/patterns/wood-pattern.png);
  border-radius: 10px;
  margin: auto;
  padding: 10px 10px;
  width: fit-content;
}