.Peg {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin: 10px;
}

.empty {
  background-color: sienna;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}
