.Row {
  border-top: rgba(0, 0, 0, 0.5) 1px solid;
  display: flex;
  flex-direction: row;
}

.RowClues {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px 0;
  width: 40px;
}
