.Row {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 12px;
}

.Row:not(:first-child) {
  border-top: rgba(102, 52, 52, 0.5) 1px solid;
}

.clues-container {
  margin-right: 12px;
}
